@import url('https://fonts.googleapis.com/css2?family=Vazirmatn:wght@300;400;500;700;800&family=Noto+Naskh+Arabic:wght@400;700&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}


body{

    font-family:'Vazirmatn',sans-serif;

    direction:rtl;

    background:
    linear-gradient(
        135deg,
        #F8F4EC,
        #EFE4D2
    );

    color:#2f2f2f;

    line-height:2;

    min-height:100vh;

}



.container{

    width:90%;

    max-width:1100px;

    margin:40px auto;

    background:rgba(255,255,255,0.65);

    border-radius:35px;

    padding:30px 50px;

    box-shadow:
    0 15px 40px rgba(0,0,0,0.08);

}



/* هدر */

.hero{

    text-align:center;

    padding:45px 20px 25px;

}


.hero h1{

    font-family:'Noto Naskh Arabic',serif;

    font-size:55px;

    color:#3F2E56;

}


.hero p{

    margin-top:10px;

    font-size:20px;

    color:#666;

}


/* بخش کارت ها */


.services{

    text-align:center;

    padding:30px 0 70px;

}



.services h2{

    font-size:32px;

    color:#3F2E56;

    margin-bottom:40px;

}



/* شبکه کارت ها */


.cards{

    display:grid;

    grid-template-columns:repeat(2,1fr);

    gap:30px;

    max-width:900px;

    margin:auto;

}




.card{

    background:rgba(255,255,255,0.55);

    backdrop-filter:blur(10px);

    border-radius:25px;

    padding:25px 20px;

    box-shadow:
    0 10px 30px rgba(63,46,86,0.12);

    transition:0.3s;

    border:1px solid rgba(255,255,255,0.7);

}



.card:hover{

    transform:translateY(-10px);

    box-shadow:
    0 20px 40px rgba(63,46,86,0.2);

}



.card-icon{

    font-size:35px;

    margin-bottom:15px;

}



.card h3{

    color:#3F2E56;

    font-size:25px;

    margin-bottom:15px;

}



.card p{

    color:#555;

    font-size:16px;

    min-height:80px;

}



/* دکمه کارت ها */


.card a{

    display:inline-block;

    margin-top:20px;

    padding:7px 22px;

    font-size:14px;

    border-radius:30px;

    background:#3F2E56;

    color:white;

    transition:0.3s;

}



.card a:hover{

    background:#C5A572;

    color:#fff;

}



/* فوتر */


footer{

    text-align:center;

    padding:30px 0;

    color:#777;

}



hr{

    border:none;

    height:1px;

    background:#d8d0c8;

    margin:40px auto;

    width:90%;

}



/* موبایل */


@media(max-width:700px){

    .cards{

        grid-template-columns:1fr;

    }


    .hero h1{

        font-size:45px;

    }


}